.show-broken-grid {
  margin-top: -10px;
  height: 150vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(25, 1fr);
}

.description-container {
  grid-row: 1/ span 5;
  grid-column: 1/ span 15;
  background-color: rgba(125,207,182, 0.4);
  z-index: 2;
  padding: 10px 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  h4 {
    margin-top: 30px;
  }
}

.volunteers-container {
  grid-row: 7/ span 7;
  grid-column: 1/ span 7;
  background-color: rgba(51,202,127, 0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  z-index: 1;
  padding: 10px 20px;
  border-radius: 3px;
}

.booking-form-container {
  grid-row: 1/ span 13;
  grid-column: 17/ span 13;
  background-color: rgba(252,159,91,0.6);
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  z-index: 3;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .form-body {
    height: 80%;
    width: 60%;
  }
}

.host-container {
  grid-row: 7/ span 7;
  grid-column: 9/ span 7;
  background-color: rgba(135,187,162,0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  border-radius: 3px;
  z-index: 0;
  a {
    text-decoration: none;
    color: #333333;
  }
  #host-photo {
    height: 100px;
    width: 100px;
  }
}

.map-container {
  grid-row: 15 / span 11;
  grid-column: 1 / span 8;
  background-color: rgba(51,202,127, 0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  border-radius: 3px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  #map {
    height: 100% !important;
    width: 100%;
    flex: 0 0 100%;
    margin-left: 0;
  }
}

.long-description {
  grid-row: 15/ span 11;
  grid-column: 10/ span 20;
  background-color: rgba(125,207,182, 0.4);
  box-shadow: 2px 2px 3px rgba(0,0,0, 0.2);
  border-radius: 3px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    font-size: 20px;
  }
}

