<div class="banner" id="home-banner">
  <div class="login">
    <%= link_to "Login", new_user_session_path, class: "btn btn-home small" %>
  </div>
  <div class="banner-content">
    <h1>Impact</h1>
    <h2>
      <span id="banner-typed-text"></span>
    </h2>
    <%= form_tag projects_path, method: :get, class: "form-inline", id: "home-input" do %>
      <div class="form-group">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control input-lg search-input",
          placeholder: "Find your next adventure"
        %>
        <%= submit_tag("Search", class: "btn btn-home") %>
      </div>
    <% end %>
  </div>
</div>
