<div class="main-container">
  <div class="cards-container">
    <div class="row">
      <% @projects.each do |project| %>
        <% if project.active %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'shared/project-card', project: project %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
  ></div>
</div>
