<div class="container">
  <h1>Projects</h1>
  <div class="container">
    <div class="row">
      <% @projects.each do |project| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'shared/project-card', project: project %>
        </div>
      <% end %>
    </div>
  </div>
</div>
