.btn-book {
  background-color: $green;
  width: 100%;
  border-radius: 5px;
  color: white;
  &:hover {
    opacity: 0.9;
  }
}

.btn-edit {
  background-color: #FC9F5B;
  border-radius: 5px;
  color: white !important;
  &:hover {
    opacity: 0.9;
  }
}
