.card-frame {
  position: relative;
  height: 300px;
  background-color: white;
  padding: 10px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  margin: 20px 0px 20px 10px;
  border-radius: 2px;
  min-width: 210px;
  max-width: 300px;
  flex: 1 0 auto;
  &:hover {
    opacity: 0.9;
  }
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border-radius: 3px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 1px 1px 3px white;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  // position: absolute;
  // bottom: 10px;
  // left: 10px;
}
.card-description h2 {
  font-size: 20px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.9;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}


/* DASHBOARD */

.card-dashboard-frame {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  border-radius: 2px;
  text-align: center;
  margin: 20px 0px;
}
.card-dashboard-picture {
  border-radius: 0px;
}
.card-dashboard-details {
  padding: 0px 30px 20px 30px;
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 12.5px;
  }
  a:hover {
    text-decoration: none;
  }
}
.card-bottom-border {
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.card-padding {
  padding: 12.5px 0px;
}
.card-padding-bottom {
  padding-bottom: 20px;
}
.card-margin {
  margin-top: 20px;
}


/* PROFILE */

.card-profile{
  background: white;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
  border-radius: 2px;
}
.card-content {
  min-width: 100%;
}
